<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Home</title>
   <link rel="stylesheet"  data-th-href="@{/css/home.css}">
    <script data-th-src="@{/js/chunk-vendors.js}"></script>
    <script data-th-src="@{/js/home.js}"></script>

    <script defer src="/js/chunk-vendors.js"></script>
    <script defer src="/js/home.js"></script>
  </head>
  <body>
    
    <noscript>
      <strong>We're sorry but Home doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">

    </div>

    <script>


    </script>

  </body>
</html>
